<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Rejestracja zakończona niepowodzeniem, wystąpiły następujące błedy:
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li>Pole <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>